@model MyBlog.Models.BlogDetails

@{
    ViewData["Title"] = "Details";
}


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h3>Detalle</h3>


        </div>

    </div>

    <div class="row">

        @if (Model != null)

         {


            <table class=" table table-bordered table-striped style=" background-color:grey"">

                <tbody>
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Title</td>
                        <td>@Model.Contents</td>
                        <td>@Model.CategoryName</td>
                        <td> <img src="~/BlogsDetails/Picture?id=@Model.Id" width="130" height="80" alt="Image" /></td>

                        <td>@Model.CreationDate</td>
                        <td>
                            <a asp-controller="BlogsDetails" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
                            <br />
                            <br />
                            <a asp-controller="BlogsDetails" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Borrar</a>

                        </td>

                    </tr>


                </tbody>

            </table>

         }
         else

         {

            <p>no se encontro detalle del blog solicitado</p>
         }


        <div>
            <a class="btn-default " asp-action="Index">Volver a Inicio</a>
        </div>


    </div>
</div>